.productos-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.productos-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.productos-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.productos-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.productos-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.productos-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.productos-icon {
  width: 36px;
  height: 36px;
}
.productos-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.productos-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.productos-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.productos-link02 {
  margin-right: var(--dl-space-space-tripleunit);
}
.productos-link03 {
  margin-right: var(--dl-space-space-tripleunit);
}
.productos-link04 {
  margin-right: var(--dl-space-space-tripleunit);
}
.productos-link05 {
  margin-right: var(--dl-space-space-tripleunit);
}
.productos-link06 {
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.productos-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.productos-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.productos-image1 {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.productos-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.productos-icon02 {
  width: 24px;
  height: 24px;
}
.productos-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.productos-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.productos-link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.productos-link09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.productos-link10 {
  text-decoration: none;
}
.productos-services {
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.productos-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.productos-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.productos-liner {
  width: 80%;
  display: flex;
  position: relative;
  align-self: stretch;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.productos-form-container {
  width: 35%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.productos-heading {
  color: var(--dl-color-primary-100);
  align-self: flex-start;
  text-align: left;
  margin-bottom: var(--dl-space-space-halfunit);
}
.productos-text001 {
  align-self: flex-start;
}
.productos-locations-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.productos-location-1 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.productos-adress {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.productos-text002 {
  font-size: 20px;
  align-self: flex-start;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
}
.productos-text003 {
  font-weight: 700;
}
.productos-text004 {
  font-weight: 700;
}
.productos-text015 {
  font-weight: 700;
}
.productos-medium {
  width: 80%;
  display: flex;
  position: relative;
  align-self: stretch;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.productos-form-container1 {
  width: 35%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.productos-heading1 {
  color: var(--dl-color-primary-100);
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.productos-text024 {
  align-self: flex-start;
}
.productos-locations-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.productos-location-11 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.productos-adress1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.productos-text027 {
  font-size: 20px;
  align-self: flex-start;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
}
.productos-text028 {
  font-weight: 700;
}
.productos-text029 {
  font-weight: 700;
}
.productos-text040 {
  font-weight: 700;
}
.productos-sbsfbb {
  width: 876px;
  display: flex;
  position: relative;
  align-self: stretch;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.productos-form-container2 {
  width: 35%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.productos-heading2 {
  color: var(--dl-color-primary-100);
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.productos-text048 {
  align-self: flex-start;
}
.productos-text051 {
  font-size: 20px;
  align-self: flex-start;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
}
.productos-text052 {
  font-weight: 700;
}
.productos-text053 {
  font-weight: 700;
}
.productos-text060 {
  font-weight: 700;
}
.productos-caple {
  width: 876px;
  display: flex;
  position: relative;
  align-self: stretch;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.productos-form-container3 {
  width: 35%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.productos-heading3 {
  color: var(--dl-color-primary-100);
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.productos-text066 {
  align-self: flex-start;
}
.productos-text067 {
  font-size: 20px;
  align-self: flex-start;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
}
.productos-text068 {
  font-weight: 700;
}
.productos-text069 {
  font-weight: 700;
}
.productos-cupstock {
  width: 876px;
  display: flex;
  position: relative;
  align-self: stretch;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.productos-form-container4 {
  width: 35%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.productos-heading4 {
  color: var(--dl-color-primary-100);
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.productos-text082 {
  align-self: flex-start;
}
.productos-text083 {
  font-size: 20px;
  align-self: flex-start;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
}
.productos-text084 {
  font-weight: 700;
}
.productos-text085 {
  font-weight: 700;
}
.productos-text094 {
  font-weight: 700;
}
.productos-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.productos-get-in-touch {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.productos-text101 {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.productos-content-container {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.productos-locations-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.productos-location-12 {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.productos-heading5 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.productos-adress2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.productos-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.productos-email {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.productos-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.productos-phone {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.productos-icon08 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.productos-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.productos-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.productos-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.productos-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.productos-link11 {
  display: contents;
}
.productos-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.productos-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.productos-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 991px) {
  .productos-form-container {
    width: 60%;
  }
  .productos-locations-container {
    flex-wrap: wrap;
  }
  .productos-location-1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .productos-form-container1 {
    width: 60%;
  }
  .productos-locations-container1 {
    flex-wrap: wrap;
  }
  .productos-location-11 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .productos-form-container2 {
    width: 60%;
  }
  .productos-form-container3 {
    width: 60%;
  }
  .productos-form-container4 {
    width: 60%;
  }
  .productos-locations-container2 {
    flex-wrap: wrap;
  }
  .productos-location-12 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .productos-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-black);
  }
  .productos-icon {
    fill: var(--dl-color-gray-white);
  }
  .productos-links-container {
    display: none;
  }
  .productos-heading-container {
    width: 100%;
  }
  .productos-liner {
    width: 100%;
    flex-direction: column;
  }
  .productos-form-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .productos-locations-container {
    flex-direction: row;
    justify-content: center;
  }
  .productos-text002 {
    font-size: 20px;
    align-self: flex-start;
    margin-left: 0px;
  }
  .productos-medium {
    width: 100%;
    flex-direction: column;
  }
  .productos-form-container1 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .productos-locations-container1 {
    flex-direction: row;
    justify-content: center;
  }
  .productos-text027 {
    font-size: 20px;
    align-self: flex-start;
    margin-left: 0px;
  }
  .productos-sbsfbb {
    width: 100%;
    flex-direction: column;
  }
  .productos-form-container2 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .productos-text051 {
    font-size: 20px;
    align-self: flex-start;
    margin-left: 0px;
  }
  .productos-caple {
    width: 100%;
    flex-direction: column;
  }
  .productos-form-container3 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .productos-text067 {
    font-size: 20px;
    align-self: flex-start;
    margin-left: 0px;
  }
  .productos-cupstock {
    width: 100%;
    flex-direction: column;
  }
  .productos-form-container4 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .productos-text083 {
    font-size: 20px;
    align-self: flex-start;
    margin-left: 0px;
  }
  .productos-content-container {
    width: 100%;
    flex-direction: column;
  }
  .productos-locations-container2 {
    flex-direction: row;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .productos-services {
    width: 100%;
    max-width: auto;
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .productos-heading-container {
    margin-bottom: 0px;
  }
  .productos-liner {
    padding-left: 0px;
  }
  .productos-form-container {
    width: auto;
    padding: var(--dl-space-space-doubleunit);
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .productos-heading {
    text-align: center;
  }
  .productos-location-1 {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .productos-text002 {
    font-size: 20px;
  }
  .productos-text003 {
    font-weight: 700;
  }
  .productos-text015 {
    font-weight: 700;
  }
  .productos-medium {
    padding-left: 0px;
  }
  .productos-form-container1 {
    padding: var(--dl-space-space-doubleunit);
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .productos-heading1 {
    text-align: center;
  }
  .productos-location-11 {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .productos-text027 {
    font-size: 20px;
  }
  .productos-text028 {
    font-weight: 700;
  }
  .productos-text040 {
    font-weight: 700;
  }
  .productos-sbsfbb {
    padding-left: 0px;
  }
  .productos-form-container2 {
    padding: var(--dl-space-space-doubleunit);
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .productos-heading2 {
    text-align: center;
  }
  .productos-text051 {
    width: 100%;
    font-size: 20px;
  }
  .productos-text052 {
    font-weight: 700;
  }
  .productos-text060 {
    font-weight: 700;
  }
  .productos-caple {
    padding-left: 0px;
  }
  .productos-form-container3 {
    padding: var(--dl-space-space-doubleunit);
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .productos-heading3 {
    text-align: center;
  }
  .productos-text067 {
    width: 100%;
    font-size: 20px;
  }
  .productos-text068 {
    font-weight: 700;
  }
  .productos-cupstock {
    padding-left: 0px;
  }
  .productos-form-container4 {
    padding: var(--dl-space-space-doubleunit);
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .productos-heading4 {
    text-align: center;
  }
  .productos-text083 {
    width: 100%;
    font-size: 20px;
  }
  .productos-text084 {
    font-weight: 700;
  }
  .productos-content-container {
    padding-left: 0px;
  }
  .productos-location-12 {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
